<hr class="mt-4" />
<h4>Add User</h4>
<hr />
<div class="px-2 my-2">
  <div>
    <label class="block text-grey-darker text-sm font-bold" for="username">
      Username
    </label>
    <input name="username" id="username" [(ngModel)]="username" autocomplete="off"
      class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker" type="text" placeholder="Username" />
  </div>

  <div>
    <label class="block text-grey-darker text-sm font-bold" for="password">
      Password
    </label>
    <input name="password" id="password" [(ngModel)]="password" autocomplete="off"
      class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker" type="password" placeholder="Password" />
  </div>

  <div>
    <label class="block text-grey-darker text-sm font-bold" for="email">
      Email
    </label>
    <input name="email" id="email" [(ngModel)]="email" autocomplete="off"
      class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker" type="email" placeholder="Email" />
  </div>

  <div>
    <label class="block text-grey-darker text-sm font-bold" for="email">
      Image
    </label>
    <input name="profile" id="profile" class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker" type="file"
      (change)="fileChosen($event)" />
  </div>

  <div>
    <label class="block text-grey-darker text-sm font-bold" for="role">
      Role
    </label>
    <select name="role" id="role" [(ngModel)]="role" class="border rounded py-2 px-2">
      <option value="super admin">Super Admin</option>
      <option value="group admin">Group Admin</option>
      <option value="member">Member</option>
    </select>
  </div>

  <button type="submit" (click)="addUser()"
    class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 my-2 rounded">Add User</button>
</div>
<hr />