<div class="container mx-auto">
  <div class="mx-auto w-full md:w-6/12">
    <hr class="mt-4" />
    <h4>Profile</h4>
    <hr />
    <div class="px-2 my-2">
      <img src={{getUserImage()}} height="128" width="128" class="mx-auto rounded-full w-32 h-32 object-cover" />
      <div>
        <label class="block text-grey-darker text-sm font-bold" for="password">
          Password
        </label>
        <input name="password" id="password" [(ngModel)]="password" autocomplete="off"
          class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker" type="password" placeholder="Password" />
      </div>

      <!-- <div>
        <label class="block text-grey-darker text-sm font-bold" for="email">
          Image
        </label>
        <input name="profile" id="profile" class="shadow border rounded w-full py-2 px-3 my-2 text-grey-darker"
          type="file" (change)="fileChosen($event)" />
      </div> -->

      <button type="submit" (click)="updateProfile()"
        class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 my-2 rounded">
        Update Profile</button>
    </div>
    <hr />
  </div>
</div>